// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #ACC2AB;
$secondary: #85B683;
$dark: #11410d;
$dgdark: #222925;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
body {
    font-family: 'Bagel Fat One', sans-serif;
}

/* Styles spécifiques pour le menu */
.navbar {
    background-color: #11410d; /* Couleur de fond du menu */
}

.navbar .navbar-brand, .navbar .nav-link {
    color: #ACC2AB;     /* Couleur du texte du menu */
}

.navbar .nav-link:hover {
    color: #ffffff; /* Couleur du texte au survol */
}


/* Styles spécifiques pour le footer */
.footer {
    background-color: #11410d; /* Couleur de fond du footer */
    color: #ffffff; /* Couleur du texte du footer */
    text-align: center;
}

.footer p {
    color: #ACC2AB;
}

.footer h2 {
    color: #ACC2AB;
}

.footer a {
    color: #ACC2AB;
}
