.banner {    
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px 0;
    position: sticky;
    top: 50px;
    z-index: 999;
    margin-bottom: 20px;
}

.banner h2 {
    font-family: Poppins, sans-serif;
    color: var(--bg-dark);
    font-size: 2.5rem;
    font-weight: bold;
    margin: 20px 0;
}

.decorative-line {
    position: relative;
    border-top: 2px solid var(--bg-dark);
    margin: 0 20px;
}

.content {
    padding: 100px 20px;
}

.content p {
    margin: 20px 0;
}

.banner:before,
.banner:after {
    content: '';
    position: absolute;
    height: 1px;
    font-size: 16px;
    background: white;
    width: 80%;
    top: -10%;
}

.banner:before {
    left: 10%;
}

.banner:after {
    bottom: 10%;
    left: 10%;
}

@media screen and (max-width: 768px) {
    .banner {
        padding: 20px 0;
    }

    .banner h2 {
        font-size: 24px;
    }

    .decorative-line {
        margin: 0 10px;
    }

    .decorative-line::before,
    .decorative-line::after {
        font-size: 12px;
    }

    .content {
        padding: 20px;
    }
}