/* Styles pour le carrousel */
.carousel {
    position: relative;
    max-width: 60%; /* Largeur maximale du carrousel */
    margin: 20px auto; /* Centre le carrousel horizontalement */
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-inner {
    display: flex;
    height: 400px; /* Hauteur fixe pour le carrousel */
}

.carousel-item {
    min-width: 100%; /* Chaque item prend toute la largeur du carrousel */
    height: 100%; /* Prend toute la hauteur disponible */
    display: none; /* Masque par défaut */
}

.carousel-item img {
    width: 100%;
    height: 100%; /* Prend toute la hauteur du carrousel */
    object-fit: cover; /* Coupe l'image pour qu'elle remplisse le conteneur */
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    color: var(--color-title);
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 1002;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Styles pour les galeries de photos */
.photo-gallery {
    margin: 20px auto;
    max-width: 80%;
    text-align: center;
}

.photo-gallery h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery-item {
    width: 150px; /* Taille fixe pour les images */
    height: 150px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-color);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Coupe l'image pour qu'elle remplisse le conteneur */
    cursor: pointer; /* Ajoute un pointeur pour indiquer que l'image est cliquable */
}

.gallery-item a {
    text-decoration: none; /* Supprime le soulignement du lien */
    color: inherit; /* Garde la couleur du texte */
    display: block; /* Permet de cliquer sur tout le bloc */
}

.gallery-item a:hover p, .gallery-item a:hover img {
    opacity: 0.5; /* Ajoute un effet visuel au survol */
}