.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    font-size: 1.2rem;
}

.block {
    width: 48%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
    border-radius: 20px;
}

.block h2 {
    font-size: 1.8rem;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.ul {
    list-style-type: none;
    padding: 0;
}

.liens {
    margin-bottom: 10px;
}

.telecharg {
    color: var(--bg-dark);
    text-decoration: none;
    font-weight: bold;
}

.telecharg:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--bg-dark);
}

@media (max-width: 768px) {
    .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    }

    .block {
    width: 100%;
    margin-bottom: 0;
    }
}
