* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;   
}

.content-container {
    margin: 0;
    padding: 2% 15% 10% 15%;
    max-height: 100%;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
}

input[type=text], 
input[type=email], 
input[type=phone], 
select, 
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 1rem;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    margin-top: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 1.2rem;
}

input[type=submit]:hover {
    background-color: var(--secondary-color);
    color: white;
}

.form-container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.form-map-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.form-container, .map-container {
    flex: 1 1 45%;
    min-width: 300px;
    max-width: 600px;
    margin: 10px;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
}

.addresses {
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    text-align: center;
}

.addresses h2 {
    margin-bottom: 10px;
    color: var(--bg-dark);
}

.addresses ul {
    list-style-type: none;
    padding: 0;
}

.addresses li {
    margin: 10px 0;
}

.addresses a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    font-family: Poppins, sans-serif;
}

.addresses a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

@media screen and (max-width: 768px) {
    .form-container, .map-container {
        flex: 1 1 100%;       
    }
    .form-map-wrapper {
        justify-content: center;
    }
    .logo-club {
        width: 80%;
        height: auto;
        max-width: 600px;
    }
    .text-content {
        margin: 0 10px;
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    input[type=submit] {
        margin-top: 10px;
    }
}