:root {
  --primary-color: #acc2ab;
  --secondary-color: #063E0B;
  --color-green: #85B683;
  --bg-dark: #223224;
  --font-poppins: font-family: 'Poppins', sans-serif;
}

.root-colors {
  --50: #f3f6f3;
  --100: #e3eae1;
  --200: #c6d5c5;
  --300: #acc2ab; /* Couleur de base */
  --400: #739572;
  --500: #527753;
  --600: #3d5e3f;
  --700: #314b33;
  --800: #293c2b;
  --900: #223224;
  --950: #121c13;
}


body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #faf8f8;
  text-align: center;
  background-image: url('/images/ImageBackGround.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Logo VBO*/
.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 100px 50px 100px; /* Ajoute un peu de padding autour du contenu pour espacer du bord */
}

.logo-club {
  width: 50%;
  height: auto;
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

.text-content {
  flex: 1;
  color: var(--bg-dark);
  font-size: 1.5rem;
}

/* Styles pour le menu */
.navbar {
  background-color: var(--primary-color);
  padding: 10px;
  position: fixed;
  top: 0;
  font-size: 1.2rem;
  left: 0;
  width: 100%;
  z-index: 1010;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-container-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 5px;
}

/* Marque du menu */
.navbar-brand {
  display: flex;
  align-items: center;
  color: palevioletred;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Poppins, sans-serif;
  margin-left: 0;
}

.navbar-logo {
  height: 50px;
  margin-right: 10px;
}

/* Style du bouton menu burger */
.navbar-toggler {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  position: relative;
  margin-left: auto;
  margin-right: 20px;
  width: 30px;
  height: 25px;
}

.navbar-links {
  display: flex;
  gap: 10px;
  margin-right: 30px;
}

.navbar-links a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 12px 10px;
  font-family: 'Poppins', sans-serif;
}

.navbar-links a:hover {
  background-color: white;
  color: var(--secondary-color);
  border-radius: 10px;
  cursor: url('/images/icones/volley-cursor32.png'), auto;
  transition: color 0.3s;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: Poppins, sans-serif;
}

.dropdown button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 12px 10px;
  font-size: 1.2rem;
  border: none;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;  
}

.dropdown button:hover {
  background-color: white;
  color: var(--secondary-color);
  border-radius: 10px;
  cursor: url('/images/icones/volley-cursor32.png'), auto;
  transition: color 0.3s;
}

.dropdown button::after {
  content: "▼";
  margin-left: 10px;
  font-size: 15px;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: var(--secondary-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 4px;
  font-family: Poppins, sans-serif;
}

.dropdown-content a:hover {
  background-color: white;
  color: var(--secondary-color);
  border-radius: 10px;
  cursor: url('/images/icones/volley-cursor32.png'), auto;
  transition: color 0.3s;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Styles pour le footer */
.footer {
  background-color: var(--primary-color);
  color: var(--bg-dark);
  text-align: center;
  padding: 20px 0;
  width: 100%;
  font-size: 1.2rem;
  font-family: Poppins, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.adresse, .liens, .réseaux {
  flex: 1;
  padding: 0 20px;
}

.adresse p, .liens p, .réseaux h2 {
  margin: 0;
  padding: 10px 0;
}

.liens p a {
  color: var(--bg-dark);
  text-decoration: none;
}

.liens p a:hover {
  text-decoration: underline;
  color: white;
  transition: color 0.3s;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-icon {
  width: 30px;
  height: 30px;
}

.social-icon:hover {
  filter: brightness(0.8);
}

.footer-copyright {
  text-align: center;
  padding-top: 5px;
  border-top: 1px solid var(--bg-dark);
}


@media (max-width: 1200px) {
  .navbar-links,
  .text-content,
  .dropdown button {
    font-size: 1rem;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }

  .logo-club{
    width: 75%;
    height: auto;
    max-width: 200px;
  }
}

@media (max-width: 890px) {
  .navbar-links,
  .navbar-brand,
  .text-content,
  .dropdown button {
    font-size: 1rem;
  }

  .logo-club{
    width: 75%;
    height: auto;
    max-width: 200px;
  }

  .navbar-logo{
    display: none;
  }
}

@media (max-width: 790px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 70%;
    max-width: 300px;
    text-align: center;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    height: 100%;
    z-index: 1001;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
  }

  .navbar-brand{
    font-size: 1.5rem;
  }

  .navbar-toggler {
    display: block;
    margin-bottom: 20px;
    zoom: 150%;
  }

  .navbar-links.show {
    display: flex;
    transform: translateX(0);
  }

  .navbar-links a {
    font-size: 1.2rem;
    display: block;
    padding: 12px 10px;
  }

  .dropdown {
    width: 100%;
    text-align: center; 
  }

  .dropdown button {
    display: block;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 12px 10px;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .dropdown-content {
    position: relative;
    display: none;
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    min-width: 100%;
    box-shadow: none;
    border-radius: 10px;
  }

  .dropdown-content a:hover {
    background-color: white;
    color: var(--secondary-color);
    border-radius: 10px;
    padding: 12px 10px;
    transition: color 0.3s;
    font-size: 1.2rem;
  }

  .dropdown-content a {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 200px;
    padding: 12px 10px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .adresse,
  .liens,
  .réseaux {
    padding: 10px 0;
    text-align: center;
  }

  .text-content {
    margin: 0 10px;
    font-size: 14px;
  }

  .logo-club {
    width: 70%;
    height: auto;
    max-width: 200px;
  }
}

