:root {
  --primary-color: #acc2ab;
  --secondary-color: #063E0B;
  --color-green: #85B683;
  --bg-dark: #223224;
}

.root-colors {
  --50: #f3f6f3;
  --100: #e3eae1;
  --200: #c6d5c5;
  --300: #acc2ab; /* Couleur de base */
  --400: #739572;
  --500: #527753;
  --600: #3d5e3f;
  --700: #314b33;
  --800: #293c2b;
  --900: #223224;
  --950: #121c13;
}


body {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  background-color: #faf8f8;
  text-align: center;
  background-image: url('/images/ImageBackGround.jpg'); /* Remplacez par le chemin de votre image */
  background-size: cover; /* Assure que l'image couvre toute la surface */
  background-position: center; /* Centre l'image */
  background-attachment: fixed; /* Rend l'image de fond fixe */
  background-repeat: no-repeat; /* Évite que l'image se répète */
}

/* Logo VBO*/
.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px; /* Ajoute un peu de padding autour du contenu pour espacer du bord */
}

.logo-club {
  width: 50%;
  height: auto;
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

/* Style pour le conteneur de texte */
.text-content {
  flex: 1; /* Prend l'espace restant à côté du logo */
  color: var(--bg-dark);
}

/* Styles pour le menu */
.navbar {
  background-color: var(--primary-color); /* Couleur de fond du menu */
  padding: 10px;
  position: fixed; /* Fixe le menu en haut de la page */
  top: 0;
  left: 0; /* Assure que le menu commence au bord gauche de la fenêtre */
  width: 100%; /* Le menu occupe toute la largeur de l'écran */
  z-index: 1010; /* Assure que le menu est au-dessus des autres éléments */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre sous le menu pour un effet de profondeur */
}

/* Conteneur du menu */
.navbar-container-menu {
  display: flex;
  justify-content: space-between; /* Espace entre la marque et les liens du menu */
  align-items: center;
  max-width: 1200px; /* Largeur maximale du menu */
  margin: 0 auto; /* Centre le conteneur horizontalement */
  padding: 0 5px; /* Ajoute un peu de marge intérieure */
}

.navbar-logo {
  height: 60px; /* Ajustez la hauteur selon vos besoins */
  margin-right: 20px; /* Espace entre le logo et le texte */
}

/* Marque du menu */
.navbar-brand {
  display: flex; /* Affiche le logo et le texte en ligne */
  align-items: center; /* Centre verticalement le logo et le texte */
  color: white; /* Couleur du texte de la marque */
  text-decoration: none; /* Supprime le soulignement des liens */
  font-size: 1.5rem; /* Taille du texte de la marque */
  font-weight: bold; /* Gras pour le texte de la marque */
  font-family: 'Merriweather', serif; /* Police de caractères pour la marque */
  margin-left: 0; /* Ajustez cette valeur pour déplacer le logo plus à gauche */
}

/* Style du bouton menu burger */
.navbar-toggler {
  background: none; /* Aucune couleur de fond pour le bouton burger */
  border: none; /* Supprime la bordure du bouton burger */
  color: white; /* Couleur du texte du bouton burger */
  font-size: 1.5rem; /* Taille du texte du bouton burger */
  cursor: pointer; /* Changement du curseur au survol */
  display: none; /* Cache le bouton burger par défaut sur les grands écrans */
  position: relative; /* Permet de positionner le bouton burger avec `margin` */
  margin-left: auto; /* Pousse le bouton burger vers la droite */
  margin-right: 20px; /* Ajoute une marge à droite du bouton burger */
  width: 30px; /* Largeur du bouton burger */
  height: 25px; /* Hauteur du bouton burger */
}

/* Style des liens du menu */
.navbar-links {
  display: flex; /* Affiche les liens en ligne */
  gap: 10px; /* Espace entre les liens */
  margin-right: 30px; /* Ajoute une marge à droite des liens du menu */
}

.navbar-links a {
  color: var(--secondary-color); /* Couleur des liens du menu */
  text-decoration: none; /* Supprime le soulignement des liens */
  padding: 12px 10px; /* Espace intérieur des liens */
  font-family: 'Merriweather', serif;
}

/* Effet au survol des liens du menu */
.navbar-links a:hover {
  background-color: white; /* Couleur de fond au survol */
  color: var(--secondary-color); /* Couleur du texte au survol */
  border-radius: 10px;
  cursor: url('/images/volley-cursor32.png'), auto; /* Spécifie l'image comme curseur et utilise un curseur par défaut si l'image n'est pas disponible */
  transition: color 0.3s; /* Pour ajouter une transition de couleur sur survol */
}


/* Styles pour le footer */
.footer {
  background-color: var(--primary-color);
  color: var(--bg-dark);
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.adresse, .liens, .réseaux {
  flex: 1;
  padding: 0 20px;
}

.adresse p, .liens p, .réseaux h2 {
  margin: 0;
  padding: 10px 0;
}

.liens p a {
  color: var(--bg-dark);
  text-decoration: none;
}

.liens p a:hover {
  text-decoration: underline;
  color: white;
  cursor: url('/images/volley-cursor32.png'), auto; /* Spécifie l'image comme curseur et utilise un curseur par défaut si l'image n'est pas disponible */
  transition: color 0.3s; /* Pour ajouter une transition de couleur sur survol */
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-icon {
  width: 30px;
  height: 30px;
}

.social-icon:hover {
  filter: brightness(0.8);
}

.footer-copyright {
  text-align: center;
  padding-top: 5px;
  border-top: 1px solid var(--bg-dark);
}


@media (max-width: 768px) {
  .navbar-toggler {
    display: block; /* Affiche le bouton burger sur les petits écrans */
  }

  .navbar-links {
    display: none; /* Masque les liens du menu par défaut sur les petits écrans */
    flex-direction: column; /* Aligne les liens en colonne */
    width: 70%; /* Largeur du menu burger */
    max-width: 300px; /* Largeur maximale du menu burger */
    text-align: center; /* Centre les textes des liens */
    margin: 0; /* Supprime les marges */
    position: fixed; /* Fixe le menu burger */
    top: 0; /* Positionne le menu en haut */
    left: 0; /* Aligne le menu à gauche */
    background-color: var(--primary-color); /* Couleur de fond du menu burger */
    height: 100%; /* Hauteur du menu burger */
    z-index: 1001; /* Assure que le menu est au-dessus de tout */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre sous le menu pour un effet de profondeur */
    transform: translateX(-100%); /* Masque le menu en le déplaçant à gauche */
    transition: transform 0.3s ease-in-out; /* Animation pour l'ouverture et la fermeture */
    border-radius: 20px; /* Bords arrondis */
  }

  .navbar-links.show {
    display: flex; /* Affiche les liens du menu en mode burger */
    transform: translateX(0); /* Affiche le menu en le déplaçant vers la droite */
  }

  .navbar-links a {
    margin: 10px 0; /* Espace entre les liens en mode burger */
  }

  .dropdown-content {
    position: static; /* Positionne le menu déroulant en mode burger */
  }

  /* Style de l'overlay */
  .overlay {
    display: none; /* Masque l'overlay par défaut */
    position: fixed; /* Fixe l'overlay */
    top: 0;
    left: 0;
    width: 100vw; /* Largeur de l'overlay */
    height: 100vh; /* Hauteur de l'overlay */
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
    z-index: 1000; /* Assure que l'overlay est au-dessus du contenu */
  }

  .overlay.show {
    display: block; /* Affiche l'overlay lorsqu'il est nécessaire */
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .adresse, .liens, .réseaux {
    padding: 10px 0;
    text-align: center;
  }

  .text-content {
    margin: 0 10px;
    font-size: 14px;
}
  .logo-club {
    width: 80%;
    height: auto;
    max-width: 600px;
}
}