body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    background-image: url('/images/ImageBackGround.jpg');
    background-color: #faf8f8;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 20px;
}

.container {
    background: #faf8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.8);
    overflow: hidden;
    width: 700px;
    margin: 20px 0;
}

.couverture {
    background-color: var(--primary-color);
}
.couverture img {
    height: 350px;
    object-fit: contain;
}

.card {
    padding: 20px;
    text-align: center;
    background-color: var(--primary-color);
}

.metier, .name, .postadress, .contact-info, .dl {
    margin-bottom: 5px;
}

.contact-info, .postadress {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contact-info img, .postadress img {
    width: 24px;
    height: 24px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    margin: 10px 0;
    text-decoration: none;
}
.btn:hover {
    background-color: var(--bg-dark);
}

.social-links {
    text-align: center;
    padding: 20px;
    background-color: var(--primary-color);
}

.social-links h2 {
    margin-bottom: 10px;
}

.social-links div {
    display: inline-block;
    margin-right: 30px;
}

.social-links img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.social-links a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s;
    vertical-align: middle;
    margin-left: 5px;
}

.social-links a:hover {
    color: var(--bg-dark);
}

.retour {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    background-color: var(--primary-color);
}

.retour a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
}

.retour a:hover {
    background-color: var(--bg-dark);
    color: #fff;
}

.retour img {
    margin-right: 15px;
    width: 30px;
    height: auto;
}

.qr-code {
    text-align: center;
    margin-top: 20px;
}

.qr-code h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.qr-code img {
    width: 200px;
    height: 200px;
    border: 5px solid #eaeaea;
    border-radius: 10px;
}


@media (max-width: 600px) {
    .container {
        width: 90%;
        margin: 20px auto;
    }

    .social-links .link-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .social-links div {
        margin: 10px 0;
    }

    .retour a {
        justify-content: center;
        width: 100%;
    }

    .retour img {
        margin-right: 8px;
        width: 20px;
    }
}