/* Styles pour le carrousel */
.carousel {
    position: relative;
    max-width: 60%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 2px var(--primary-color) solid;
}

.carousel-inner {
    display: flex;
    height: 400px;
}

.carousel-item {
    min-width: 100%;
    height: 100%;
    display: none;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    color: var(--secondary-color);
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 1002;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Styles pour les galeries de photos */
.photo-gallery {
    margin: 20px auto;
    max-width: 80%;
    text-align: center;
}

.photo-gallery h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 2rem;
    color: var(--bg-dark);
}

p {
    font-size: 1.2rem;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery-item {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-color);
    border: 2px var(--primary-color) solid;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.gallery-item a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.gallery-item a:hover p, .gallery-item a:hover img {
    opacity: 0.5;
}


@media (max-width: 768px) {
    .btn {
        width: 80%;
        margin: 15px 0;
    }
}

