/* ===== CONTAINER PRINCIPAL ===== */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 2rem;
    padding: 2rem 1rem;
}

.btn a {
    display: inline-block;
    padding: 10px 50px;
    margin: 0 50px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.btn:hover a {
    background-color: var(--secondary-color);
    transform: translateY(-2px);
    color: white;
    text-decoration: none;
}

/* ===== SECTION "RESSOURCES VOLLEY" ===== */
.siteffvb {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.book-siteffvb {
    position: relative;
    border-radius: 10px;
    width: 250px;
    height: 320px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 12px #000;
    perspective: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-dark);
    font-family: sans-serif;
    transition: transform 0.3s ease;
}

.book-siteffvb p {
    font-size: 1.15rem;
    font-weight: bolder;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s ease, visibility 0.8s ease;
}

.book-siteffvb:hover p {
    visibility: visible;
    opacity: 1;
}

.cover-siteffvb {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    transform-origin: left;
    box-shadow: 1px 1px 12px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.cover-siteffvb img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.book-siteffvb:hover .cover-siteffvb {
    transform: rotateY(-80deg);
}

/* ===== SECTION "Tickets remboursement" ===== */
.container-folder {
    --transition: 350ms;
    --folder-W: 120px;
    --folder-H: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    background: linear-gradient(135deg, var(--bg-dark), var(--primary-color));
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    height: calc(var(--folder-H) * 1.7);
    position: relative;
    margin-top: 70px;
}

.folder {
    position: absolute;
    top: -20px;
    left: calc(50% - 60px);
    animation: float 2.5s infinite ease-in-out;
    transition: transform var(--transition) ease;
}

.folder:hover {
    transform: scale(1.05);
}

.folder .front-side,
.folder .back-side {
    position: absolute;
    transition: transform var(--transition);
    transform-origin: bottom center;
}

.folder .back-side::before,
.folder .back-side::after {
    content: "";
    display: block;
    background-color: white;
    opacity: 0.5;
    z-index: 0;
    width: var(--folder-W);
    height: var(--folder-H);
    position: absolute;
    transform-origin: bottom center;
    border-radius: 15px;
    transition: transform 350ms;
}

.container-folder:hover .back-side::before {
    transform: rotateX(-5deg) skewX(5deg);
}
.container-folder:hover .back-side::after {
    transform: rotateX(-15deg) skewX(12deg);
}

.folder .front-side {
    z-index: 1;
}

.container-folder:hover .front-side {
    transform: rotateX(-40deg) skewX(15deg);
}

.folder .tip {
    background: linear-gradient(135deg, #ff9a56, #ff6f56);
    width: 80px;
    height: 20px;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -10px;
    z-index: 2;
}

.folder .cover-folder {
    background: linear-gradient(135deg, #ffe563, #ffc663);
    width: var(--folder-W);
    height: var(--folder-H);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.custom-file-upload {
    font-size: 1.1em;
    color: #ffffff;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background var(--transition) ease;
    display: inline-block;
    width: 80%;
    padding: 10px 35px;
    position: relative;
}

.custom-file-upload:hover {
    background: rgba(255, 255, 255, 0.4);
}

.custom-file-upload input[type="file"] {
    display: none;
}

@keyframes float {
    0% {
    transform: translateY(0px);
}

    50% {
    transform: translateY(-20px);
}

    100% {
    transform: translateY(0px);
}
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    flex-wrap: wrap;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: calc(50% - 1.5rem);
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px var(--bg-dark) solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: var(--bg-dark);
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: var(--bg-dark);
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: var(--bg-dark)f;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
    color: var(--bg-dark);
    transform: translateY(-30px);
}

.btn-submit {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--primary-color);
    color: var(--bg-dark);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: var(--secondary-color);
    transform: translateY(-2px);
    color: white;
    text-decoration: none;
}

.full-width {
    width: 100%;
    text-align: center;
}

/* ===== SECTIONS "DOCUMENTS" ET "TICKETS" ET "SITE FFVB" ===== */
.doc-entraineurs,
.tickets,
.siteffvb {
    max-width: 800px;
    width: 100%;
    margin: 2.5rem auto;
    background: white;
    border-radius: 0.625rem;
    box-shadow: 0 0.313rem 0.938rem rgba(0, 0, 0, 0.1);
    padding: 1.875rem;
    position: relative;
    overflow: hidden;
}

.doc-entraineurs::before,
.tickets::before,
.siteffvb::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0.313rem;
    height: 100%;
    background: linear-gradient(to bottom, var(--secondary-color), var(--primary-color));
}

.doc-entraineurs h2,
.tickets h2,
.siteffvb h2 {
    color: var(--bg-dark);
    margin-bottom: 1.25rem;
    font-size: 2rem;
    font-weight: 600;
    position: relative;
    padding-left: 0.938rem;
}

.doc-entraineurs h2::before,
.tickets h2::before,
.siteffvb h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.313rem;
    height: 70%;
    background-color: var(--secondary-color);
    border-radius: 0.188rem;
}

.doc-entraineurs strong,
.tickets strong {
    color: var(--bg-dark);
    font-size: 1.2rem;
    display: block;
    margin-bottom: 0.5rem;
}

.download-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.download-list li {
    margin-bottom: 12px;
    font-size: 1.1rem;
}

.download-list a {
    text-decoration: underline;
    color: var(--bg-dark);
    font-weight: 500;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s, color 0.3s;
}

.download-list a:hover {
    color: var(--primary-color);
}

.separator {
    width: 80%; 
    max-width: 600px;
    border-top: 2px solid #ccc;
    margin: 20px auto;
}

/* ===== RESPONSIVE ===== */
@media screen and (max-width: 768px) {
    .book {
        width: 200px;
        height: 260px;
    }

    .btn a {
        padding: 8px 30px;
        margin: 0 20px;
        font-size: 0.9rem;
    }

    .doc-entraineurs,
    .tickets,
    .siteffvb {
        margin: 1.5rem 1rem;
        padding: 1rem;
    }

    .doc-entraineurs h2,
    .tickets h2
    .siteffvb h2 {
        font-size: 1.5rem;
    }

    .form-control {
        width: 100%;
        flex: 1 0 100%;
    }

    .input-container {
        flex-direction: column;
    }

    .form-control label span {
        font-size: 1rem;
    }
}