.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: var(--bg-dark);
    border: 2px var(--bg-dark) solid;
    border-radius: 20px;
    background-color: var(--primary-color);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: calc(90% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.form-group input[type="radio"],
.form-group input[type="checkbox"] {
    width: auto;
}

.form-group div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.check {
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--bg-dark);
}

.block {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block .dl, .block .drop, .block .pay {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px var(--bg-dark) solid;
}

.telecharg {
    color: var(--bg-dark);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.telecharg:hover {
    text-decoration: underline;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-decoration: underline;
    color: var(--bg-dark);
}

.block ul {
    list-style-type: decimal;
    padding-left: 20px;
}

.block .liens {
    margin-bottom: 5px;
}

.separator {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.paiement {
    font-size: 0.875rem;
    color: #555;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    h2 {
        font-size: 1.1rem;
    }

    .telecharg {
        font-size: 1rem;
    }
}